<%= mailer_paragraph do %>
  Dear <%= @user.first_name %>,
<% end %>

<%= mailer_paragraph do %>
  You have revoked the leave request detailed below.
<% end %>

<%= mailer_paragraph do %>
  <ul>
    <li>Type of leave: <%= @request.leave_type.humanize %></li>
    <li>Duration: <%= @request.start %> to <%= @request.end %></li>
    <li>Description: <%= @request.description %> </li>
  </ul>
<% end %>
