<%= mailer_paragraph do %>
  Dear <%= @recipient.first_name %>,
<% end %>

<%= mailer_paragraph do %>
  <%= @user.full_name %> has requested leave as below. Please click the link at the bottom of this e-mail to provide your review.
<% end %>

<%= mailer_paragraph do %>
  <ul>
    <li>Type of Leave: <%= @request.leave_type.humanize %></li>
    <li>Duration:<%= @request.start.strftime("%d/%m/%Y") %> to <%= @request.end.strftime("%d/%m/%Y") %></li>
  </ul>
<% end %>

<% if @recipient.request_overlaps?(@request) %>
  <%= mailer_paragraph do %>
    This request overlaps with the following requests:
  <% end %>

  <% @recipient.overlapping_requests(@request).each do |request| %>
    <%= mailer_paragraph do %>
      <strong><%= request.user.full_name %></strong> <%= request.start.strftime("%d/%m/%Y") %> to <%= request.end.strftime("%d/%m/%Y") %> (<%= request.leave_type.humanize %> - <%= request.approval.humanize %>)
  <% end %>
  <% end %>

<% else %>
  <%= mailer_paragraph do %>
    This request does not overlap with any other requests from your reports.
  <% end %>
<% end %>

<%= mailer_spacer %>

<%= mailer_button('Approve Request', accept_url(token: @approval_request.token), 'center') %>

<%= mailer_divider %>

<%= mailer_error_button('Reject Request', reject_url(token: @approval_request.token), 'center') %>
