<div class="container container--thin" id="kontainer">

  <h2>New Leave Request</h2>

  <%= form_with model: @request, local: true do |f| %>

    <% if @request.errors.present? %>
      <%= render 'shared/errors', model: @request %>
    <% end %>

    <div class="form-row">
      <div class="field form-group col-md-4">
        <%= f.label :leave_type %>
        <div>
          <%= f.select :leave_type, Request.leave_types.keys.map { |type| [type.humanize, type] }, { prompt: true }, { class: "form-control" } %>
        </div>
      </div>
      <div class="field form-group col-md-4">
        <%= f.label :start %>
        <div class="cal-style">
          <%= f.text_field :start, class: "form-control js-datepicker", placeholder: 'DD-MM-YYYY', autocomplete: 'off' %>
        </div>
      </div>
      <div class="field form-group col-md-4">
        <%= f.label :end %>
        <div class="cal-style">
          <%= f.text_field :end, class: "form-control js-datepicker", placeholder: 'DD-MM-YYYY', autocomplete: 'off' %>
        </div>
      </div>
    </div>
    <div class="field form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control'%>
    </div>
    <div class="field form-group">
      <%= f.submit "Submit", class: "button", data: { disable_with: "Submitting" } %>
    </div>

  <% end %>
</div>
