<section id="leave">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Your Leave Requests</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
   <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped mb-5">
            <thead>
              <tr>
                <th>Description</th>
                <th>Start</th>
                <th>End</th>
                <th>Status</th>
                <th>Leave Type</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% if current_user.requests.blank? %>
                <tr>
                  <td colspan="5">You currently have no leave requests</td>
                </tr>
              <% else %>
                <% current_user.requests.kept.each_with_index do |request, index| %>
                  <tr>
                    <td class="js-slide-toggle clickable" data-target=".tableRow<%= index %>">
                      <i class="fas fa-plus mr-2 js-see-more"></i>
                      <%= request.description %>
                    </td>
                    <td><%= request.start %></td>
                    <td><%= request.end %></td>
                    <%- if request.pending? %>
                          <td class="table-warning"> Pending </td>
                      <% elsif request.approved? %>
                          <td class="table-success"> Approved </td>
                      <% else request.declined? %>
                          <td class="table-danger"> Declined </td>
                    <% end %>
                    <td><%= request.leave_type.humanize %></td>
                    <td style="text-align: center">
                      <% unless request.start <= Time.current %>
                        <%= link_to 'Delete', request_path(request), method: :delete, data: { confirm: 'Are you sure you want to delete this request?' }, class: 'button button--small button--danger' %>
                      <% end %>
                    </td>
                  </tr>
                  <% request.approval_requests.each do |approval_request| %>
                    <tr class="hidden tableRow<%= index %>">
                      <td colspan="3"><span class="mr-3"></span><%= approval_request.approver.full_name %></td>
                      <td colspan="2"><%= approval_request.approval_status.humanize %></td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
      </div>
      <div class="col-lg-12 text-center mb-3">
        <h6 class="section-heading ">Request more leave - select the type below</h6>
      </div>
      <div class="col-12">
         <div class="container">
          <div class="row">
            <%= render 'leave_request',
              title: 'Annual Leave',
              icon: 'fa-sun',
              link: new_request_path(type: 'annual_leave'),
              link_text: 'Request'
            %>

           <%= render 'leave_request',
              title: 'Training Leave',
              icon: 'fa-train',
              link: new_request_path(type: 'training'),
              link_text: 'Request'
            %>
             <%= render 'leave_request',
              title: 'Study Leave',
              icon: 'fa-book-open',
              link: new_request_path(type: 'study_leave'),
              link_text: 'Request'
            %>
             <%= render 'leave_request',
              title: 'Sick Leave',
              icon: 'fa-user-md',
              link: new_request_path(type: 'illness'),
              link_text: 'Request'
            %>
             <%= render 'leave_request',
              title: 'Maternity leave',
              icon: 'fa-child',
              link: new_request_path(type: 'maternity'),
              link_text: 'Request'
            %>
             <%= render 'leave_request',
              title: 'Paternity leave',
              icon: 'fa-child',
              link: new_request_path(type: 'paternity'),
              link_text: 'Request'
            %>
             <%= render 'leave_request',
              title: 'Unpaid Leave',
              icon: 'fa-hiking',
              link: new_request_path(type: 'unpaid'),
              link_text: 'Request'
            %>
             <%= render 'leave_request',
              title: 'Other Leave',
              icon: 'fa-calendar-alt',
              link: new_request_path(type: 'other'),
              link_text: 'Request'
            %>
           </div>
        </div>
      </div>
    </div>
  </div>
</section>
