<section id="leave">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Leave requests for your approval</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
   <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped mb-5">
            <thead>
              <tr>
                <th>User</th>
                <th>Description</th>
                <th>Start</th>
                <th>End</th>
                <th>Type</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% current_user.approval_requests.awaiting_review.each do |approval_request| %>
                <tr>
                  <td><%= approval_request.request.user.full_name %></td>
                  <td><%= approval_request.request.description %></td>
                  <td><%= approval_request.request.start %></td>
                  <td><%= approval_request.request.end %></td>
                  <td><%= approval_request.request.leave_type.humanize %></td>
                  <td style="text-align: center">
                    <%= link_to 'Approve', approval_request_approve_path(approval_request), method: :post, class: 'button button--small', data: { confirm: 'Are you sure you want to approve this request?' } %>
                    <%= link_to 'Reject', approval_request_reject_path(approval_request), method: :post, class: 'button button--danger button--small', data: { confirm: 'Are you sure you want to reject this request?' } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</section>
