  <header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>Welcome to your Time Manager</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="text-faded mb-5">Scroll down to see more.</p>
        </div>
    </div>
  </div>
</header>


<section class="bg-primary" id="profile">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2> Hello, This is the placeholder section for your profile!</h2>
          <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-admin"%>
          <hr class="light my-4">
          <div class="container">
      <h2>Leave Requests</h2>        
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Description</th>
            <th>Start</th>
            <th>End</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <%- if user_signed_in? %>
          <% current_user.requests.each do |request| %>
            <tr>
              <td><%= request.description %></td>
              <td><%= request.start.strftime("%d-%m-%Y") %></td>
              <td><%= request.end.strftime("%d-%m-%Y") %></td>
              <td><%= request.approval %>
            </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
      <p class="text-faded mb-4">In this section, you will be able to see how many days leave you have left.</p>                 
    </div>
  </div>
</div>
</section>

<section class="bg-primary" id="calendar">
<div class="container">
<div class="row">
  <div class="col-lg-8 mx-auto text-center">
  
    <hr class="light my-4">
               <a class="btn btn-light btn-xl js-scroll-trigger" href="#leave">Click this to request leave</a>

  </div>
</div>
</div>
</section>

<section id="leave">
<div class="container">
<div class="row">
  <div class="col-lg-12 text-center">
    <h2 class="section-heading">Request All Leave Below</h2>
    <%= link_to 'New Leave Request', new_request_path, class: "nav-link js-scroll-trigger" %>
    <hr class="my-4">
  </div>
</div>
</div>
<div class="container">
<div class="row">
  <div class="col-lg-3 col-md-6 text-center">
    <div class="service-box mt-5 mx-auto">
      <i class="fas fa-4x fa-sun text-primary mb-3 sr-icon-1"></i>
      <h3 class="mb-3">Annual Leave</h3>
      <p class="text-muted mb-0">Request your annual leave here.</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 text-center">
    <div class="service-box mt-5 mx-auto">
      <i class="fas fa-4x fa-train text-primary mb-3 sr-icon-1"></i>
      <h3 class="mb-3">Training Leave</h3>
      <p class="text-muted mb-0">Request your training leave here.</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 text-center">
    <div class="service-box mt-5 mx-auto">
      <i class="fas fa-4x fa-book-open text-primary mb-3 sr-icon-1"></i>
      <h3 class="mb-3">Study Leave</h3>
      <p class="text-muted mb-0">Request your training leave here.</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 text-center">
    <div class="service-box mt-5 mx-auto">
      <i class="fas fa-4x fa-pills text-primary mb-3 sr-icon-1"></i>
      <h3 class="mb-3">Sick Leave</h3>
      <p class="text-muted mb-0">Let us know right here.</p>
    </div>
  </div>
</div>
</div>
</section>





<section id="opportunities">
<div class="container">
<div class="row">
  <div class="col-lg-8 mx-auto text-center">
    <h2 class="section-heading">Opportunities</h2>
    <hr class="my-4">
    <p class="mb-5">Ready for the next step? Click below for more.</p>
  </div>
</div>
</div>
<div class="row">
  <div class="col-lg-4 ml-auto text-center">
    <i class="fas fa-desktop fa-3x mb-3 sr-contact-1"></i>
    <a href="https://www.ey.com">Click here for the company website</a>
  </div>
  <div class="col-lg-4 mr-auto text-center">
    <i class="fas fa-desktop fa-3x mb-3 sr-contact-2"></i>
    <p>
      <a href="https://www.ey.com">Click here for training opportunities</a>
    </p>
  </div>
</div>
</div>
</section>