<div class="container" id="kontainer">
  <h2>Your Reports</h2>
  <table class="table table-striped js-datatable">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td style="text-align: center">
          <%= link_to "View User", manager_user_path(user), class: 'button button--small' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <h3 class="mt-3 mb-5">Request Calendar</h2>
  <div class="bg-primary" id="calendar" data-target="<%= manager_requests_path(format: :json) %>">
  </div>
  <div id="calendar-modal" class="modal"></div>
</div>
