<div class="container" id="kontainer">
  <h2 class="mb-3"><%= @user.full_name %></h2>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Role</th>
        <th>Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @user.first_name %></td>
        <td><%= @user.last_name %></td>
        <td><%= @user.email %></td>
        <td><%= @user.role&.humanize %></td>
        <td><%= @user.admin? ? 'Yes' : 'No' %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <h3 class="mt-4 mb-3">Leave Requests</h3>
  <table class="table js-datatable table-striped" data-show-buttons="true">
    <thead>
      <tr>
        <th>Description</th>
        <th>Start</th>
        <th>End</th>
        <th>Status</th>
      </tr>
    </thead>

    <!-- requests -->

    <tbody>
    <% @user.requests.each do |request| %>
      <tr>
        <td><%= request.description %></td>
        <td><%= request.start.strftime("%d-%m-%Y") %></td>
        <td><%= request.end.strftime("%d-%m-%Y") %></td>
        <%- if request.pending? %>
              <td class="table-warning"> Pending </td>
          <% elsif request.approved? %>
              <td class="table-success"> Approved </td>
          <% else request.declined? %>
              <td class="table-danger"> Declined </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>

  </table>
</div>
