<div class="container container--thin" id="kontainer">

  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control"  %>
    </div>

    <div class="form-group">
      <div class="pretty p-icon p-round p-jelly">
        <%= f.check_box :remember_me %>
        <div class="state p-warning">
          <i class="icon fas fa-check"></i>
           <%= f.label :remember_me %>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Log in", class: 'button' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>
