<div class="form-container mb-5">
	<%= simple_form_for([:hr, @user]) do |f| %>

		<div class="form-group">
  		<%= f.input  :first_name %>
	 	</div>

		<div class="form-group">
			<%= f.input :last_name %>
		</div>

		<div class="form-group">
			<%= f.input :email %>
		</div>

  	<div class="form-group">
			<%= f.select :role, User.roles.keys.map { |role| [role.humanize, role] }, {}, class: 'js-selectize' %>
  	</div>

    <div class="form-group">
      <%= f.select :manager_id, User.for_select(current_user), { prompt: true }, { class: 'js-selectize' } %>
    </div>

    <div class="form-group">
      <%= f.select :counsellor_id, User.for_select(current_user), { prompt: true }, { class: 'js-selectize' } %>
    </div>

		 <div class="form-group">
    		<%= f.label :admin %>
    		<%= f.check_box :admin %>
  		</div>

  		 <div class="form-group">
    		<%= f.label :join_date %>
    		<%= f.date_field :join_date %>
  		</div>

		<%= f.submit 'Update User', class: 'button' %>
		<%= link_to "Cancel", hr_user_path(@user), class: 'button button--danger' %>
	<% end %>
</div>
