<!DOCTYPE html>
<html>
  <head>
    <title>EYTime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
    <script type="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h2> Ey Time </h2>
      <%- if user_signed_in? %>
          <p>Welcome <strong><%= current_user.first_name %></strong></p>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
          <% else %>
          <%= link_to 'Log in', user_session_path %>
        <% end %>
    </header>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
