<!DOCTYPE html>
<html>
  <head>
    <title>EYTM: EY Time Manager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet"/>

    <%= stylesheet_link_tag :application, 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag :application, 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EY Time Manager</title>

    <!-- Custom fonts for this template -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body id="page-top">

    <% flash.each do |key, value| %>
      <% action = { notice: 'info', alert: 'warning' }.fetch(key.to_sym, key) %>
      <div class="js-flash" data-message="<%= value %>" data-type="<%= action %>"><%= notice %></div>
    <% end %>

    <%= render 'layouts/navigation' %>

    <%= yield %>

  </body>

</html>

   