<!DOCTYPE html>
<html>
  <head>
    <title>EYTM: EY Time Manager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag :application, 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag :application, 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EY Time Manager</title>

    <!-- Custom fonts for this template -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  </head>

<<<<<<< HEAD
  <body id="page-top">

  <header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>Welcome to your Time Manager</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="text-faded mb-5">Scroll down to see more.</p>
        </div>
    </div>
  </div>
</header>

=======
  <body>
>>>>>>> 8bd37535702d86106f7046c4dd130a9129b99000
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">EY - Time Manager</a>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#calendar">Quick Calendar</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#profile">Profile</a>
                </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#calendar">Calendar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#leave">Leave</a>
            </li>
             <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#opportunities">Opportunities</a>
            </li>
            <li class="nav-item">
<<<<<<< HEAD
              <a class="nav-link js-scroll-trigger" href="">Sign Out</a>
=======
              <!-- <a class="nav-link js-scroll-trigger" href="#contact">Sign Out</a> -->
              <%= link_to "Sign Out", destroy_user_session_path, style: 'color: black;', class: "nav-link js-scroll-trigger", method: :delete %>
            </li>
            <li class="nav-item">
              <%= link_to 'Log in', user_session_path, style: 'color: black;', class: "nav-link js-scroll-trigger" %>
            </li>
            <li class="nav-item">
              <%= link_to 'HR Panel', hr_users_path, style: 'color: black;', class: "nav-link js-scroll-trigger" %>
>>>>>>> 8bd37535702d86106f7046c4dd130a9129b99000
            </li>
            <li class="nav-item">
              <%= link_to 'New Leave Request', new_request_path, style: 'color: black;', class: "nav-link js-scroll-trigger" %>
            </li>

                     
          </ul>
        </div>
      </div>
    </nav>

<<<<<<< HEAD
    
=======
    <p class="notice"><%= notice %></p>
    <h2 style="color: white;background: #e63e4b;text-align: center; margin-top: 80px;"><%= alert %></h2>

    <%= yield %>
>>>>>>> 8bd37535702d86106f7046c4dd130a9129b99000

    <%= yield %>
    
  </body>
  
</html>

